<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Редагування терміналу</title>
</head>

<div layout:fragment="content" th:remove="tag">

    <div th:if="${errorsMessages!=null}">
        <div th:each="message: ${errorsMessages.getErrors()}">
            <div class="alert alert-danger" role="alert" th:text="${message}">

            </div>
        </div>
    </div>

    <div th:if="${infoMessages!=null}">
        <div th:each="message: ${infoMessages.getMessages()}">
            <div class="alert alert-success" role="alert" th:text="${message}">

            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-leave">
        <div class="modal-dialog modal-lg">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Зберегти дані?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Відмова</button>
                        <button type="button" id="save-button" class="btn btn-success">Зберегти</button>
                    </div>
                </div>

        </div>
    </div>

    <div class="modal fade" id="modal-delete">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Видалити термінал?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Відмова</button>
                    <button type="button" id="delete-button" th:attr="data-terminal-id=${terminal.armId}" class="btn btn-danger">Видалити</button>
                </div>
            </div>

        </div>
    </div>

    <div class="content-wrapper content">

        <form  action="/terminals/edit" method="post" th:object="${terminal}" id="edit-form">

            <input type="text" class="form-control" id="id" name="id" th:field="${terminal.id}" hidden>
            <input type="text" class="form-control" id="lastUpdate" name="lastUpdate" th:field="${terminal.lastUpdate}" hidden>

        <div class="row ml-auto mr-auto">
            <div class="col-md-12">


                    <div class="form-group">
                        <label for="armId">ID</label>
                        <input type="number" class="form-control" id="armId" name="armId" th:field="${terminal.armId}">
                    </div>
                    <div class="form-group">
                        <label for="shopName">Назва магазину</label>
                        <input type="text" class="form-control" id="shopName" name="shopName" th:field="${terminal.shopName}">
                    </div>
                    <div class="form-group">
                        <label for="cashRegisterName">Каса</label>
                        <input type="text" class="form-control" id="cashRegisterName" th:field="${terminal.cashRegisterName}">
                    </div>
                <div class="form-group">
                    <label for="ipAddress">IP адреса</label>
                    <input type="text" class="form-control" id="ipAddress" th:field="${terminal.ipAddress}">
                </div>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary m-1" onclick="window.location.href = '/';">До списку</button>
                </div>
                <div class="btn-group float-right" role="group" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#modal-delete">Видалити</button>
                    <button type="button" class="btn btn-success m-1" data-toggle="modal" data-target="#modal-leave">Зберегти</button>
                </div>

            </div>

        </div>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            $("#save-button").click(function() {
                $("#edit-form").submit();
            });

            $("#delete-button").click(function() {
                var url = "/terminals/delete";

                var terminalId = $(this).data("terminal-id");

                var postData = {
                    id: terminalId,
                };

                $.post(url, postData, function(response) {
                    window.location.href = "/terminals/list";
                })
                .fail(function(error) {
                    console.error("Error:", error.responseText);
                });
            });
        });
    </script>

</div>

</body>
</html>
