<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Термінали</title>
</head>

<div layout:fragment="content" th:remove="tag">

    <div th:if="${errorsMessages!=null}">
        <div th:each="message: ${errorsMessages.getErrors()}">
            <div class="alert alert-danger" role="alert" th:text="${message}">

            </div>
        </div>
    </div>

    <div th:if="${infoMessages!=null}">
        <div th:each="message: ${infoMessages.getMessages()}">
            <div class="alert alert-success" role="alert" th:text="${message}">

            </div>
        </div>
    </div>

    <div class="content-wrapper content">

        <div class="p-2" sec:authorize="hasRole('ROLE_ADMIN')">
            <button type="button" class="btn btn-primary" onclick="window.location.href = '/terminals/scan';">Знайти всі термінали в мережі</button>
            <button type="button" class="btn btn-success" onclick="window.location.href = '/terminals/add';">Додати</button>
        </div>


        <div class="row ml-auto mr-auto">
            <div class="col-md-12">


                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width:150px;" scope="col">ПК в мережі</th>
                            <th style="width:150px;" scope="col">ID терміналу</th>
                            <th style="width:300px;" scope="col">Магазин</th>
                            <th style="width:300px;"scope="col">Каса</th>
                            <th scope="col">Адреса</th>
                            <th style="width:230px;" scope="col">Дата останнього оновлення</th>
                            <th style="width:230px;" scope="col">Heap (max/used)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="terminal, iStat: ${terminals}">
                            <tr>
                                <td th:text="${terminal.active}"></td>
                                <td th:text="${terminal.armId}"></td>
                                <td th:text="${terminal.shopName}"></td>
                                <td th:text="${terminal.cashRegisterName}"></td>
                                <td><a th:href="@{/terminals/edit(id=${terminal.armId})}"><div  th:text="${terminal.ipAddress}"></div></a></td>
                                <td th:text="${terminal.lastUpdate}"></td>
                                <td th:text="${terminal.totalHeapSize} + '/' + ${terminal.usedHeapSize}"></td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>

</body>
</html>
