<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<th:block th:fragment="header">
    <div class="row">
        <div class="col-md-12">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a href="/"><img src="img/spyware.png" alt="logo" class="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
                    <li class="nav-item ml-1">
                        <button type="button" class="btn btn-success"
                                onclick="window.location.href = '/logout';">Вийти
                        </button>
                    </li>
                </ul>

            </nav>



        </div>
    </div>
</th:block>
</body>
</html>